.disp{
  display: none;
}
/*div .caixa{
  min-height: 250px;
  margin-bottom: calc(100% - 420px);
  margin-left: 15px;
  padding: 0;

}*/
@media screen and (max-width: 700px){
  div .caixa{
    min-height: 250px;
    margin-bottom: calc(100% - 420px);
    margin-left: 15px;
    padding: 0;

  }
}
@media screen and (min-width: 701px){
  div .caixa{
    margin-bottom: calc(100% - 475px);
    margin-left: 15px;
    padding: 0;

  }
}
.caixa div{
  margin: 0;
}
/*div label{
  text-align: left;
}*/
.alinhamento{
  text-align: center;
}
.telaQuiz{
  width: 100%;
  max-width: 700px;
  margin: auto;
  background: #fff;
  padding-bottom:10px;
  padding-top: 10px;
  margin-top: 10px;
  height: calc(100% - 62px);
}

#root > div{
  height: calc(100% - 62px);
}
body .telaCheia{
    height: calc(100% - 35px);
}
.loading{
  height: 100%;
  min-height: 100%;
  
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;

  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.caixa>div>div>div{
  margin-top: 15px;
  margin-bottom: 15px;
}